.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    width: fit-content;
    height: 60px;
    background: #FC9B27;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    border: none;
    gap: 3%;
    border-radius: 10px;
}

.button:hover {
    background-color: #FC7427;
}

.button:active {
    background-color: #FC7427;
}